body{
    padding-top:70px;

}

.navbar-brand {
    color: crimson;
}

.add {
    float: right;
}

.edit {
    float: right;
}

.campusImage {
    width: 8%;
    margin-right: 1%;
}

.mainImage {
    width: 20%;
    display: block;
    margin: auto;
}

.navbar {
    background-color: lightcoral;
    padding-left: 25%;
}

.navbar-nav > li > a {
    color: white;
}

.single-page-image {
    width: 25%
}



